div.dokuwiki table.pagelist,
div.dokuwiki table.blind {
  border: 0;
  padding: 0;
  border-spacing: 0;
  margin-bottom: 1em;
  border-collapse: collapse;
}

div.dokuwiki table.pagelist tr {
  border-top: 1px solid __border__;
  border-bottom: 1px solid __border__;
}

div.dokuwiki table.pagelist th,
div.dokuwiki table.blind th,
div.dokuwiki table.pagelist td,
div.dokuwiki table.blind td {
  padding: 1px 1em 1px 0;
}

div.dokuwiki table.pagelist th,
div.dokuwiki table.blind th {
  background-color: __background_alt__;
}

div.dokuwiki tr.priority1 { background-color: #fff7e8; }
div.dokuwiki tr.priority2 { background-color: #fff1d9; }
div.dokuwiki tr.priority3 { background-color: #ffe9c2; }

div.dokuwiki th.page,
div.dokuwiki th.date,
div.dokuwiki th.user,
div.dokuwiki th.desc,
div.dokuwiki th.comments,
div.dokuwiki th.tags,
div.dokuwiki td.date,
div.dokuwiki td.user,
div.dokuwiki td.desc,
div.dokuwiki td.comments,
div.dokuwiki td.tags {
  color: __text_neu__;
  font-size: 80%;
}

div.dokuwiki td.date {
  text-align: right;
}