/* default three styles:
 - table.plgn__pglist.pagelist (default)
 - table.plgn__pglist.ul (list-option)
 - table.plgn__pglist.inline (table-option: dokuwiki's table style)

 extra class .plgn__pglist is always applied to table

 Simple list is an default ul-li without class
 */

div.dokuwiki table.pagelist,
div.dokuwiki table.ul {
  border: 0;
  padding: 0;
  border-spacing: 0;
  margin-bottom: 1em;
  border-collapse: collapse;
}

div.dokuwiki table.pagelist tr {
  border-top: 1px solid __border__;
  border-bottom: 1px solid __border__;
}

div.dokuwiki table.pagelist th,
div.dokuwiki table.pagelist td {
  padding: 1px 1em 1px 0;
  border: 0;
}

div.dokuwiki table.ul th,
div.dokuwiki table.ul td {
  padding: 0 1em 0 0;
  border: 0;
}

div.dokuwiki table.ul ul {
  margin: 0;
}

div.dokuwiki table.pagelist th,
div.dokuwiki table.ul th {
  background-color: __background_alt__;
  color: __text_neu__;
  font-size: 90%;
}

div.dokuwiki table.pagelist td,
div.dokuwiki table.ul td {
  color: __text_neu__;
  font-size: 80%;
}

div.dokuwiki table.pagelist td.page,
div.dokuwiki table.ul td.page {
  font-size: 100%;
}
